#formilarioGerarSenha {
    text-align: center;
}
  
form {
    margin-top: 10px;
}
  
label {
    display: block;
    margin-top: 5px;
    color: rgb(35, 35, 75);
}
  
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
  
button {
    background-color: rgb(110, 108, 184);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: rgb(57, 56, 97);
}