body {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(249, 249, 249);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

h2 h1 {
    color: rgb(35, 35, 75);
}

img{
    width: 60px;
}