body {
    font-family:  sans-serif;
    background-color: rgba(32, 38, 121, 0.514);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

h2 h1 {
    color: rgb(35, 35, 75);
}